@import url('./slideshow.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --header-grey: #02021f;
    /* Primary BG bör vara din bakgrundsfärg */
    --primary-bg: #041725;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #78600c;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-bg);
    max-width: 100%;
}

.popular-title{
    color: yellow;
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}
.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: yellow;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border: none;
}

.header__form-btn {
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 2rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}



.content-wrapper {
    padding: 20px;
}

.popular-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.card img {
    width: 85%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.05);
}

.card h3 {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    color: gold;
    opacity: 0.8;
}